---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;	

			body {
				height: 100vh;
				width: 100vw;
				display: grid;
				place-items: center;
			}

				.makan {
					height: 100px;
					width: 200px;
					background-color: salmon;
				}
			}
		</style>
	</head>
	<body>
		<div class="makan"></div>
	</body>
</html>
